* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
#container {
    padding-top: 180px ;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    width: auto;
    height: auto;
}
.container1 {
    
    align-items: center;
    flex-direction: column;
    display: flex;
}
.headline{
    font-family: Inter-Bold;
    font-size: 60px;
    font-weight: 800;
    width: 800px;
    text-align: center;
}
.container1 img{
    width:250px;
    padding-top: 60px;
}
.headline2{
    font-family: Inter-Regular;
    font-size: 24px;
    text-align: center;
    width: 600px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.banner{
    padding-top: 30px;
    width: 100%;
    padding-bottom: 30px;
}