{% extends 'app/base.html' %}
{% load static %}

{% block linkcss%}
<link rel="stylesheet" href="{% static "app/css/home.css" %}" type="text/css">
{% endblock %}

{% block main-content%}
    <div id="container">
        <div class="container1">
            <h1 class="headline">Your wonderful source for all things creative</h1>
            <img src="{% static "app/images/body/plane.svg"%}" alt="Banner1">
            <h2 class="headline2">Let SILL make your design simple.
                Hand-drawn 2D & 3D illustrations and icons. Perfect for your next project.
                All in one place.
            </h2>
            <div id="buttoncontact">
                <a href="#" >
                    <div id='contact'>
                        <div>Contact Us</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="banner">
            <img src="{% static "app/images/body/banner.svg"%}" alt="Banner2">
        </div>
    </div>
{% endblock main-content %}
